@page "/"

<h1>Hello, world!</h1>
<MyFirstComponent/>
<MyComplexComponent MyPerson=@(new Person("Amr Zaki",20, "Male", "amrzaki2000.az@gmail.com"))/>
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />
<DICounter></DICounter>

@code
{
    
}