@page "/renderfrag"

<h3>RenderedFragments</h3>

<RenderFragmentrazor>
    <ChildContent>
        This is Rendered Child Content
    </ChildContent>
    <CollapsibleContent>
        This is Collapsible Child Content
    </CollapsibleContent>
</RenderFragmentrazor>

@code {

}
