<h3>Child Component</h3>

<div class="card card-body col-4">
    <img class="card-img-top" height="150" src="img/1.jpg" />
    <div class="card-body">
        <p class="text-lg-center">@ChildContent</p>
    </div>
</div>


<span style="cursor:pointer; text-decoration:underline; color:dodgerblue" class="card-link" @onclick="@Toogle">@ActionText()</span>
@if (collapse)
{
    <div class="card card-body col-4">
        <img class="card-img-top" height="150" src="img/2.jpg" />
        <div class="card-body">
            <p class="text-lg-center">@CollapsibleContent</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment CollapsibleContent { get; set; }

    private bool collapse = false;

    private void Toogle() => collapse = !collapse;

    private string ActionText() => collapse ? "Collapse" : "Expand";
}
